.home-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-image 1s ease-in-out; /* Fade effect for the background */
  padding: 20px; /* Add padding for small screens */
}

.overlay {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  animation: fade-in 1s ease-in-out; 
  max-width: 600px; 
  margin: auto;
}

.overlay h1 {
  font-family: 'Webkins', sans-serif;
  font-size: 4.5rem; 
  line-height: 1.2; 
  animation: fade-in 1s ease-in-out; 
  opacity: 0; 
  animation-fill-mode: forwards; 
}

.excc p{
  font-family: 'Webkins', sans-serif;
  font-size: .2rem; 

  opacity: 0;
  animation-fill-mode: forwards;
  margin-top: 20px;
}

.loop-button,
.loop-buttons {
  font-family: 'Webkins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: wheat;
  background-color: transparent;
  padding: 10px 20px; /* Make padding larger for better touch targets */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  animation: fade-in 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: background-color 0.3s ease;
  gap: 20px; 
}

.loop-button:hover,
.loop-buttons:hover {
  background-color: white; /* Slightly darker shade on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  .overlay em {
    font-size: 3rem; /* Reduce font size on smaller screens */
  }

  .excc em {
    font-size: 1rem; /* Adjust excc font size */
  }

  .loop-button,
  .loop-buttons {
    font-size: 1.2rem; /* Smaller buttons for mobile */
    padding: 8px 16px;
    gap: 20px;  /* Adjust padding */
  }
}

@media (max-width: 480px) {
  .overlay em {
    font-size: 2.5rem; /* Further reduce for very small screens */
  }

  .excc em {
    font-size: 0.9rem; /* Further adjust excc font size */
  }

  .loop-button,
  .loop-buttons {
    font-size: 1rem; /* Smaller buttons for mobile */
    padding: 6px 12px;
      gap: 20px; 
  /* Adjust padding */
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
